<% @articles.each do |article| %>
<article>
	<h3><%= article.title %></h3>
  <div><%= truncate(article.content , 100, '...')  %></div>
  <div class="top-margin">
  <a class="btn offset" href="/admin/<%= article.id %>/edit">Edit article</a>
  </div>
</article>
<% end %>