//*****************
// GLOBAL IMPORTS
//***************//
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700,900);
@import url(lesshat.less);
@import url(reset.less);

textarea {clear: both;width: 70%;height: 250px;}
label {width: 100%;clear: both;}
.clear {clear: both;margin-top: 15px;}
.offset {background: #ce4819!important;text-decoration: none!important;}
.btn {background: #222;.border-radius(3px);color: #fff;font-weight: 300;padding: 10px 30px 10px 30px;text-decoration: none;text-align: center;border: 0px;}
.top-margin {margin-top: 15px;}